<div>
	<h2>
		<span jhiTranslate="fraudDetectionApp.riskContributors.home.title">Risk
			Contributors</span>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row"></div>
	<br />

	<div class="row">
		<div class="col-md-4">
			<Span>Impact to brand</Span>
		</div>

		<div class="col-md-2">{{impactAttribute.impactToBrand}}</div>

		<div class="col-md-4">
			<input type="range" min="0" max="1" step="0.01"
				[(ngModel)]="impactAttribute.impactToBrand" (change)="updateTotal()" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<Span>Impact to Credibility</Span>
		</div>

		<div class="col-md-2">{{impactAttribute.impactToCredibiity}}</div>

		<div class="col-md-4">
			<input type="range" min="0" max="1" step="0.01"
				[(ngModel)]="impactAttribute.impactToCredibiity"
				(change)="updateTotal()" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<Span>Financial Loss</Span>
		</div>

		<div class="col-md-2">{{impactAttribute.financialLoss}}</div>

		<div class="col-md-4">
			<input type="range" min="0" max="1" step="0.01"
				[(ngModel)]="impactAttribute.financialLoss" (change)="updateTotal()" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<Span>Compliance Voilation</Span>
		</div>

		<div class="col-md-2">{{impactAttribute.complianceVoilation}}</div>

		<div class="col-md-4">
			<input type="range" min="0" max="1" step="0.01"
				[(ngModel)]="impactAttribute.complianceVoilation"
				(change)="updateTotal()" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<Span>Bad Practices</Span>
		</div>

		<div class="col-md-2">{{impactAttribute.badPractices}}</div>

		<div class="col-md-4">
			<input type="range" min="0" max="1" step="0.01"
				[(ngModel)]="impactAttribute.badPractices" (change)="updateTotal()" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<Span></Span>
		</div>

		<div class="col-md-2">Total</div>

		<div class="col-md-4">
			<span>{{impactAttribute.total}}</span>&nbsp;&nbsp;&nbsp;<span
				*ngIf="impactAttribute.total == 1" class="fa fa-check"></span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<Span></Span>
		</div>

		<div class="col-md-2">
			<button class="btn btn-primary btn-sm" (click)="cancel()">CANCEL</button>
		</div>

		<div class="col-md-4">
			<button class="btn btn-primary btn-sm"
				[disabled]="impactAttribute.total != 1" (click)="update();">UPDATE</button>
		</div>
	</div>



</div>