<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFilePathLabel" jhiTranslate="fraudDetectionApp.filePath.home.createOrEditLabel">Create or edit a File Path</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!filePath.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="filePath.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fraudDetectionApp.filePath.clientId" for="field_clientId">Client Id</label>
            <input type="number" class="form-control" name="clientId" id="field_clientId"
                [(ngModel)]="filePath.clientId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fraudDetectionApp.filePath.fileParam" for="field_fileParam">File Param</label>
            <input type="text" class="form-control" name="fileParam" id="field_fileParam"
                [(ngModel)]="filePath.fileParam" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fraudDetectionApp.filePath.fileName" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                [(ngModel)]="filePath.fileName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fraudDetectionApp.filePath.deleteFlag" for="field_deleteFlag">Delete Flag</label>
            <input type="text" class="form-control" name="deleteFlag" id="field_deleteFlag"
                [(ngModel)]="filePath.deleteFlag" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
