<style>
.fileParamsBox {
	border: 1px solid;
	min-height: 250px;
}

.clear {
	clear: both;
}

.btnGroup {
	margin-bottom: 50px;
}

.listStyleTypeNone{
	list-style-type: none
}

.selectable{
	cursor: pointer;
}

.listActive{
	font-weight: bold;
    background-color: lightblue;
}

.listItem{
	min-height: 18px;
}

</style>

<div>
	<h2>
		<span jhiTranslate="fraudDetectionApp.filePath.home.title">File
			Paths</span>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row"></div>
	<br />

	<div class="row">

		<div class="col-md-4">
			<span>File Parameters</span>
			<div class="clear"></div>
			<div class="fileParamsBox">
				<ul class="listStyleTypeNone col-md-12">
					<li class="selectable" *ngFor="let filePath of filePaths"
					(click)="selectFileParam(filePath.fileParam)"
					[ngClass]="{'listActive' : selectedFileParam == filePath.fileParam}"
					>{{filePath.fileParam}}</li>
				</ul>
			</div>
		</div>

		<div class="col-md-1"></div>

		<div class="col-md-4">
			<span>File Names</span>
			<div class="fileParamsBox">
				<ul class="listStyleTypeNone col-md-12" >
					<li class="listItem" *ngFor="let filePath of filePaths">{{filePath.fileName}}</li>
				</ul>
			</div>
		</div>

		<div class="col-md-1"></div>

		<div class="col-md-2 btnGroup">
			<div class="row">
				<button class="btn btn-primary btn-sm btnGroup" 
				[disabled]="selectedFileParam==null"
				(click)="browse()">BROWSE</button>
			</div>
			<div class="row">
				<button class="btn btn-primary btn-sm btnGroup" (click)="save()">SAVE</button>
			</div>
			<div class="row">
				<button class="btn btn-primary btn-sm btnGroup" (click)="cancel()">CANCEL</button>
			</div>
		</div>

	</div>


</div>
