<style>
.fileParamsBox {
	border: 1px solid;
	min-height: 250px;
}

.clear {
	clear: both;
}

.btnGroup {
	margin-bottom: 50px;
}
</style>

<div>
	<h2>
		<span jhiTranslate="fraudDetectionApp.filePath.home.title">File
			Paths</span>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row"></div>
	<br />

	<div class="row">

		<div class="col-md-4">
			<span>File Parameters</span>
			<button class="btn btn-primary btn-sm text-right pull-right">BROWSE</button>
			<div class="clear"></div>
			<div class="row fileParamsBox">
				<ul>
					<li>LIST 1</li>
					<li>LIST 2</li>
					<li>LIST 3</li>
					<li>LIST 4</li>
					<li>LIST 5</li>
					<li>LIST 6</li>
					<li>LIST 7</li>
				</ul>
			</div>
		</div>

		<div class="col-md-1"></div>

		<div class="col-md-4">
			<span>File Names</span>
			<div class="row fileParamsBox">
				<ul>
					<li>LIST 1</li>
					<li>LIST 2</li>
					<li>LIST 3</li>
					<li>LIST 4</li>
					<li>LIST 5</li>
					<li>LIST 6</li>
					<li>LIST 7</li>
				</ul>
			</div>
		</div>

		<div class="col-md-1"></div>

		<div class="col-md-2 btnGroup">
			<div class="row">
				<button class="btn btn-primary btn-sm btnGroup">OPEN</button>
			</div>
			<div class="row">
				<button class="btn btn-primary btn-sm btnGroup">SAVE</button>
			</div>
			<div class="row">
				<button class="btn btn-primary btn-sm btnGroup">CANCEL</button>
			</div>
		</div>

	</div>


</div>
